<div class="modal-header">
  <h4 class="modal-title text-primary-1">Resgister</h4>
  <button type="button" class="btn-close" aria-label="Close"  (click)="closeModal(false)">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col">
        <div>Username<span class="text-danger">*</span></div>
        <input placeholder="Username" type="text" class="form-control" formControlName="username" required>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('username')?.touched && form.get('username')?.invalid">
          <div *ngIf="form.get('username')?.errors?.['required']">
            Type your username
          </div>
        </div>
      </div>
      <div class="col">
        <div>Password<span class="text-danger">*</span></div>
        <input placeholder="Password" type="password" class="form-control" formControlName="password" required>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
          <div *ngIf="form.get('password')?.errors?.['required']">
            Type your password
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal(false)">Cancel</button>
  <button type="button" class="btn btn-primary-1" (click)="submitForm()">Resgiter</button>
</div>