version: "3.9"

services:
  tracker:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: bt-tracker
    command: ["python", "tracker/tracker.py"]
    environment:
      TRACKER_HOST: "0.0.0.0"
      TRACKER_PORT: "12345"
      TRACKER_DB_DIR: "tracker_db"
      TRACKER_TIME_INTERVAL: "22"
      PYTHONPATH: "/app"
    ports:
      - "12345:12345/udp"
    volumes:
      - ../data/tracker_db:/app/tracker_db
    networks: [bt-net]

  peer1:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: bt-peer1
    command: ["python", "peer/node.py", "-node_id", "1"]
    environment:
      TRACKER_HOST: "tracker"
      TRACKER_PORT: "12345"
      ADVERTISE_HOST: "peer1"
      NODE_PORT: "20001"
      NODE_TIME_INTERVAL: "10"
      SEED_DIR: "node_files"
      DOWNLOAD_DIR: "downloads"
      PYTHONPATH: "/app"
    ports:
      - "20001:20001/udp"
    volumes:
      - ../data/peer1/node_files:/app/node_files
      - ../data/peer1/downloads:/app/downloads
    depends_on: [tracker]
    networks: [bt-net]
    tty: true
    stdin_open: true

  peer2:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: bt-peer2
    command: ["python", "peer/node.py", "-node_id", "2"]
    environment:
      TRACKER_HOST: "tracker"
      TRACKER_PORT: "12345"
      ADVERTISE_HOST: "peer2"
      NODE_PORT: "20002"
      NODE_TIME_INTERVAL: "10"
      SEED_DIR: "node_files"
      DOWNLOAD_DIR: "downloads"
      PYTHONPATH: "/app"
    ports:
      - "20002:20002/udp"
    volumes:
      - ../data/peer2/node_files:/app/node_files
      - ../data/peer2/downloads:/app/downloads
    depends_on: [tracker]
    networks: [bt-net]
    tty: true
    stdin_open: true

networks:
  bt-net:
    driver: bridge
