<div
  *ngIf="spinner.loading$ | async"
  class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-light bg-opacity-50"
  style="z-index: 2000;"
>
  <!-- Spinner kiểu border -->
  <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Đang tải...</span>
  </div>

  <!-- hoặc: spinner-grow -->
  <!-- <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Đang tải...</span>
  </div> -->
</div>
